#loginform {
  border-radius: 10px;
  box-shadow: 0 0 12px #767676;
  background: rgba(0, 0, 0, 0.5);
}

body.login {
  background-image: url("/wp-content/uploads/2025/10/pexels-luis-gomes-166706-546819.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

.login #backtoblog a,
.login #nav a {
  color: #fff;
}
