
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  line-height: 1.6;
}

h1,h2,h3{
  font-family: "Mosk", sans-serif;
}
button,
a {
  font-family: inherit;
}
