@use "../abstracts/" as *;

@include font-face("Amithen", amithen, "normal", "normal");
@include font-face("Mosk", "MoskLight300", "300", "normal");
@include font-face("Mosk", "MoskMedium500", "500", "normal");
@include font-face("Mosk", "MoskBold700", "700", "normal");
@include font-face("Mosk", "MoskSemi-Bold600", "600", "normal");
@include font-face("Mosk", "MoskUltra-Bold900", "900", "normal");
